

header{
    background-color: pink;
    
}
.navbar-brand{
    font-size: larger;
    color: blueviolet;
    font-weight: bolder;
    
}
h1{
    text-align: center;
    background-color: pink; 
}

h2{
    text-align: center;
    background-color: plum;
    
}

h3{
    text-align: center;
    background-color: pink;
}



body{
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 10px;
}

p{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    border: 5px solid purple;
    border-radius: 10px;  
    color: pink;
}

.features{
    color: pink;
    font-size: x-large;
}

.card-body{
    background-color: palevioletred;
    align-items: center;
    padding: center;
    margin:  0 auto;
}

.card{
    margin: 0 auto;
}

.form{
    color: pink;
}